# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.env

# ML / local data
mlruns/
data/
artifacts/
*.pkl
*.joblib

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
